.link {
    color: black;
    text-decoration: none;
}

.banner > span {
    margin-top: 6px;
    font-size: 22px;
    font-weight: 600;
}


.banner {
    height: 60px;
    font-weight: bold;
    line-height: 60px;
    align-items: center;
    display: flex;
    gap: 6px;
}
